.textsItens {
    position: relative;
}

.textUm {
    position: absolute;
    top: 40px;     /* espaço do topo */
    left: 110px;   /* espaço da direita */
    width: 250px;
    padding: 15px;
    border-radius: 8px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.textDois {
    position: absolute;
    top: 240px;     /* espaço do topo */
    left: 310px;   /* espaço da direita */
    width: 250px;
    padding: 15px;
    border-radius: 8px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.textTres {
    position: absolute;
    top: 420px;     /* espaço do topo */
    left: 685px;  
    padding: 15px;
    border-radius: 8px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.textQuatro {
    position: absolute;
    top: 240px;     /* espaço do topo */
    right: 310px;   /* espaço da direita */
    width: 250px;
    padding: 15px;
    border-radius: 8px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.textCinco {
    position: absolute;
    top: 40px;     /* espaço do topo */
    right: 110px;   /* espaço da direita */
    width: 250px;
    padding: 15px;
    border-radius: 8px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.azulVerde {
    width: 150px;
    padding-top: 0px;
}

.azulVerdeBaixo {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 150px;
}

.btn:hover img {
    transform: scale(1.1);
    transition: 0.2s;
}

.btn img {
    display: block;
    transition: 0.2s;
    width: 180px;
    
}

.btPlanejAI {
    position: absolute;
    bottom: 20px;     
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.btn span {
    position: absolute;
    left: 110%;        
    top: 50%;
    transform: translateY(-50%);

    color: #fff;
    background: #333;
    padding: 6px 10px;
    border-radius: 6px;
    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

/* aparece no hover */
.btn:hover span {
    opacity: 1;
    left: 120%; 
}