.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;
    align-items: center;
    left: 0px; 
    right: 0px; 
    font-family: Arial, Helvetica, sans-serif;
}

.azulVerde {
    position: absolute;

    top: 101px; /* 👈 ajusta esse valor */
    left: px; /* começa depois da sidebar */

    width: 150px;

    z-index: 0; /* atrás do conteúdo */
}

.azulVerdeBaixo {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 150px;
}

.header {
    position: relative;
    width: 100%;
    gap: 20px;
    margin-top: 0px;
    margin-left: 5px;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    max-width: 800px;
    margin: 0 auto;
}

.header::after{
    content: "";
    height: 3px;
    background: #000;

    position: absolute;
    left: 0;
    width: calc(100vw - 80px);
    bottom: -15px;
    z-index:0;
}

.title {
    background-color: rgba(9, 255, 0, 0.329);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

    position: relative;
    padding: 10px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.808);
    max-width: 800px;
}

.mes {
    background-color: rgba(9, 255, 0, 0.329);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

    padding: 10px;
    font-size: 25px;
    color: rgba(106, 106, 252, 0.808);
}

.mesContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}


.botaoMes {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.setaMes {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease; /* animação suave */
}

.setaAbertaMes {
    transform: rotate(-90deg); /* 👉 direita */
}







.Ano {
    background-color: rgba(9, 255, 0, 0.329);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

    padding: 10px;
    font-size: 25px;
    color: rgba(106, 106, 252, 0.808);
}

.AnoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}


.botaoAno {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.setaAno {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease; /* animação suave */
}

.setaAbertaAno {
    transform: rotate(-90deg); /* 👉 direita */
}

.optionAno {
    position: absolute;
    top: 40px;

    width: 200px;      /* opcional, controla largura */
    max-height: 200px; /* 👈 limita altura (corta) */
    overflow-y: auto;  /* 👈 adiciona scroll */

    background: #cecdcd;
    border: 1px solid #ccc;

    border-radius: 8px;

    list-style: disc;
    padding: 0px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    z-index:2
}

.options {
    padding: 8px;
    cursor: pointer
}

.optionAno {
    position: absolute;
    top: 40px;

    width: 200px;      /* opcional, controla largura */
    max-height: 200px; /* 👈 limita altura (corta) */
    overflow-y: auto;  /* 👈 adiciona scroll */

    background: #cecdcd;
    border: 1px solid #ccc;

    border-radius: 8px;

    list-style: disc;
    padding: 0px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    z-index:2
}

.optionsAno {
    padding: 8px;
    cursor: pointer
}
